/* Existing styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000;
    text-align: center;
    font-size: 18px; /* Base font size */
    line-height: 1.6; /* Adjust this value to increase or decrease line spacing */
}

header {
    background-color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-icon {
    width: auto;
    height: 50px;
    margin-right: 350px; /* Adjust as needed */
}

nav a {
    color: #081ae2;
    margin: 0 1.5rem;
    text-decoration: none;
    font-size: 20px;
}

main {
    padding: 2rem;
    background-color: #ffffff;
}

.centered-section {
    max-width: 800px; /* Increased max-width for wider content space */
    margin: 0 auto;
    text-align: left; /* Text aligned left within each section */
}

section {
    margin-bottom: 5rem;
    text-align: left;
}

section h2 {
    margin-top: 3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

#basic-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

.profile-pic img {
    width: auto;
    height: 200px;
    margin-right: 2rem;
    max-width: 100%;
}

.contact-info h2 {
    margin-top: 0;
    font-size: 1.8rem;
}

.papers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paper {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    display: flex;
    /*flex-direction: column;*/ /* Stack elements vertically */
    align-items: center;
    box-sizing: border-box;
}

.paper img {
    width: auto;
    max-width: 240px;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    margin-right: 2rem;
}

.paper-info {
    text-align: left;
    font-size: 14px;
    line-height: 1.0; /* Adjust this value to increase or decrease line spacing */
    width: 100%;
}

.year-section {
    margin-bottom: 2rem;
}

.year-section h3 {
    text-align: center;
}

.abstract {
    display: none;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.abstract.open {
    display: block;
    max-height: none;
}

.project img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    background-color: #fafcfa;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover,
button:active,
button:focus {
    background-color: #b6bab7;
}

.experience {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.experience img {
    width: 80px;
    height: auto;
    object-fit: cover;
    margin-right: 1rem;
    max-width: 100%;
}

.experience-info {
    flex: 1;
    font-size: 18px;
}

.experience-info p {
    margin: 0;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .paper {
        flex-direction: column;
        align-items: flex-start;
    }

    .paper img {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}


@media (max-width: 600px) {
    body {
        font-size: 16px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    nav a {
        font-size: 18px;
        margin: 0.5rem;
    }

    .nav-icon {
        width: auto;
        height: 40px;
        margin-right: 0.5rem; /* Adjust as needed */
    }

    .centered-section {
        padding: 1rem;
    }

    section h2 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    .profile-pic img {
        height: 150px;
        margin-right: 1rem;
    }

    .paper {
        padding: 1rem;
        margin: 1rem 0;
    }

    .paper img {
        width: auto;
        max-width: 200px;
        height: auto;
        max-height: 150px;
        object-fit: cover;
        margin-right: 0.5rem;
    }

    .experience img {
        width: 60px;
        margin-right: 0.5rem;
    }

    .experience-info {
        font-size: 16px;
    }
}
